<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
    <link rel="stylesheet" href="/table.css">
</head>
<body>
    <table border="1">
        <tr>
            <th>구분</th>
            <th>상품 번호</th>
            <th>상품 이름</th>
            <th>상품 가격</th>
            <th>상품 재고</th>

        </tr>
        <th:block th:each="item:${items}">
            <tr>
                <td><input type="checkbox"></td>
                <td th:text="${item.itemNumber}"></td>
                <td th:text="${item.itemName}"></td>
                <td th:text="${item.itemPrice}"></td>
                <td th:text="${item.itemStock}"></td>
            </tr>
        </th:block>
    </table>
    <form th:action="@{/order/add}">
        <table id="cart"></table>
    </form>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/item.js"></script>
</html>